*{
font-family: 'Abhaya Libre', serif;
}
.nav-icon{
    display: block;
    min-height: 10px;
    margin-top: 10px;
    padding: 10px 6px 10px 6px;
    border-bottom: 2px solid transparent;
    font-size: 1.5rem;
    text-align: center;
    color: #fff !important;
    height: 100%;
    line-height: 1;
    text-decoration: none !important;
    flex-basis: 0;
    flex-grow: 1;
    color: #90a4ae;

}
a:hover, a:focus, a:active, a.active {
    text-decoration: none;
    outline: 0;
    color: #1abc9c !important;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
    transition: 0.5s all ease;
}
.nav-btn{
    width: 16.65% !important;
}
.second-nav{
  height: 10% !important;
}
.profile-story-title-centered{
text-align: center;
}
.profile-story-image-radius{
border-radius: 20px 20px 0px 0px !important;
}
.profile-story-card-radius{
border-radius: 20px 20px 20px 0px !important;
}
.jumbotron{
border-radius: 10px 10px 10px 10px !important;
background-color: white !important;

}
.sticy-suggestion{
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 100;
}
.sticky-main-nav{
position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  z-index:1;
}

.main-area-bg-color{
background-color:  #ebedef !important;
}
.post-padding{
padding-top: 30px !important;
}
.post-profile-img{
margin-top:-5px !important;
}
.profile-pic-post{
border-radius: 30px 30px 30px 30px !important;


}
.media-body{
margin-left:10px !important;
}
.media-heading{
margin-left: 5px !important;

}
.post-time{
margin-left:5px !important;
}
.post-img{
margin-top: 0px !important;
}
.noti{
  margin-top: 10px;
}
.person-profile-pic{
  margin-top: 20px;
}
.logout{
      background-color: transparent;
    border: none;
}
 .suggestion{
  margin-top: 5px;
 }
 
 .top-nav{
  margin-left: 450px;
 }
 .nav{
  display: inline;
  float: right;
  margin-left: 10px;
 }

@media only screen and (max-width:700px){ 
.nav-icon{
    
    min height: 10px;
    margin-top: 10px;
    padding: 0px 0px 0px 0px;
    border-bottom: 1px solid transparent;
    font-size: 1rem;
    text-align: center;
    color: #fff !important;
    height: 50%;
    
    text-decoration: none !important;
    flex-basis: 0;
    flex-grow: 1;
    color: #90a4ae;
    display: inline-grid;
    float: left;
}
.stories{
    visibility: hidden !important;
    position: absolute !important;
}
.btn-block{
 display: inline !important;
 float: left !important;
}
.m-view{
    display: inline !important;
    float: left !important;
    width: 33.3%;
}

.second-nav{
  height: 8% !important;
}

.post-profile-img{
margin-top:-10px !important;
margin-left:-10px !important;
}
.trending-area{
 visibility: hidden !important;
  position: absolute !important;
 }
 
 .mb-suggestion{
height: 50%;
 }
 .top-nav{
  margin-left: 100px;
 }
}